<html>
    <head>
      <link rel="stylesheet" type="text/css" href="home.component.css">
    </head>
    <body>
      <div id="mainContainer">
        <div class="container">
            <div class="header">
              <div class="balance-container">
                <div class="balance">
                  Your Balance: {{ balance }}
                </div>
                <div>
                  <button (click)="logout()" class="logout-btn">Logout</button>
                  <button (click)="performAction('Profile')" class="profile-btn">Profile</button>
                  <button (click)="performAction('Messages')" class="messages-btn">{{ newMessagesAmount > 0 ? newMessagesAmount + ' new messages' : 'Messages' }}</button>
                </div>
              </div>
            </div>
            <div class="main">
              <div class="section">
                <h2>Last Transactions</h2>
                <table>
                  <thead>
                    <tr>
                      <th>Sender</th>
                      <th>Receiver</th>
                      <th>Timestamp</th>
                      <th>Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let transaction of transactions">
                      <td class="cell">{{ transaction.sender.name }}</td>
                      <td class="cell">{{ transaction.receiver.name }}</td>
                      <td class="cell">{{ transaction.createdAt }}</td>
                      <td class="cell">{{ transaction.cost }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="section">
                <h2>Best Freelancers</h2>
                <table>
                  <tr *ngFor="let freelancer of freelancers">
                    <td>{{ freelancer.name }}</td>
                    <td>{{ freelancer.groupName }}</td>
                  </tr>
                </table>
              </div>
              <div class="section">
                <h2>Actions</h2>
                <div *ngFor="let action of actions">
                  <button (click)="performAction(action)">{{ action }}</button>
                </div>
              </div>
            </div>
            <div class="line"></div>
          </div>
          
          <!--Post Task Modal-->
          <div class="modal fade" id="postTaskModal" tabindex="-1" aria-labelledby="postTaskModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="postTaskModalLabel">Post Task</h1>
                  <button type="button" id="post-task-form" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form #postForm="ngForm" (ngSubmit)="onPostTask(postForm)">
                    <div class="form-group">
                      <label for="name">Subject</label>
                      <input type="text" ngModel name="subject" class="form-control" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                      <label for="name">Description</label>
                      <input type="text" ngModel name="description" class="form-control" id="description" placeholder="Description" required>
                    </div>
                    <div class="form-group">
                      <label for="name">Price</label>
                      <input type="text" ngModel name="price" class="form-control" id="price" placeholder="Price" required>
                    </div>
                    <!-- <div class="form-group">
                      <label for="phone">Deadline</label>
                      <input type="datetime-local" ngModel name="deadline" class="form-control" id="deadline" placeholder="Deadline">
                    </div> -->
                    <div class="modal-footer">
                      <button [disabled]="postForm.invalid" type="submit" class="btn btn-primary" >POST</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!---->

          <!--Profile Modal-->
          <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="profileModalLabel">Profile</h1>
                  <button type="button" id="profile-form" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form #updateProfileForm="ngForm" (ngSubmit)="onUpdateProfile(updateProfileForm)">
                    <div class="form-group">
                      <label for="name">Id</label>
                      <input [disabled]="true" ngModel name="id" type="text" class="form-control" id="id" placeholder="{{currentUser.id}}">
                    </div>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input [disabled]="profileDisabled" ngModel name="name" type="text" class="form-control" id="name" placeholder="{{currentUser.name}}" required>
                    </div>
                    <div class="form-group">
                      <label for="name">Email</label>
                      <input [disabled]="profileDisabled" ngModel name="email" type="text" class="form-control" id="email" placeholder="{{currentUser.email}}" required>
                    </div>
                    <div class="form-group">
                      <label for="name">Group name</label>
                      <input [disabled]="profileDisabled" ngModel name="groupName" type="text" class="form-control" id="groupName" placeholder="{{currentUser.groupName}}" required>
                    </div>
                    <div class="form-group">
                      <label for="name">Balance</label>
                      <input [disabled]="true" ngModel name="balance" type="text" class="form-control" id="balance" placeholder="{{currentUser.balance}}">
                    </div>
                    <div class="form-group">
                      <label for="name">Age</label>
                      <input [disabled]="true" ngModel name="age" type="text" class="form-control" id="age" [placeholder]="currentUser.age > 0 ? currentUser.age : 'Not Given'">
                    </div>
                    <div class="form-group">
                      <label for="name">Verification</label>
                      <input [disabled]="true" ngModel name="isVerified" type="text" class="form-control" id="verification" placeholder="{{currentUser.isVerified ? 'Verified' : 'Not Verified'}}">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!---->
          <!--Create Task Modal-->
            <div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div id="modal-content_2" class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createTaskModalLabes">Created</h1>
                    <button type="button" id="create-task-form" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h3 id="createTaskModalText">Task was successfully created</h3>
                  </div>
                </div>
              </div>
            </div>
            <!---->
        </div>
    </body>
</html>

