<html>
  <head>
    <link rel="stylesheet" type="text/css" href="register.component.css">
  </head>
  <body>
    <form name="form" (ngSubmit)="register()" #f="ngForm">
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" id="name" [(ngModel)]="model.name" #name="ngModel" required />
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <i style="font-size: 20px;" title="Password requirements:
          - At least 6 characters
          - At least 1 uppercase letter
          - At least 1 lowercase letter
          - At least 1 digit
          - At least 1 special character" class="fa fa-info-circle" aria-hidden="true"></i>
          <input type="password" name="password" class="form-control" id="password"
           [(ngModel)]="model.password" #password="ngModel"
           pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$"
           required />
      </div>
      <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" id="email" 
            [(ngModel)]="model.email" #email="ngModel" 
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            required />
        </div>
        <div class="form-group">
            <div class="input-group">
              <div>
                <label for="groupName">Group name</label>
                <input type="text" name="groupName" class="form-control" id="groupName" [(ngModel)]="model.groupName" #groupName="ngModel"required />
              </div>
              <div>
                <label for="age">Age</label>
                <input type="text" name="age" class="form-control" id="age" [(ngModel)]="model.age" #age="ngModel"/>
              </div>
            </div>
        </div>
          
        <div>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Register</button>
            <div class="login">
              Do have an account?
              <a href="/login">Log in</a>
            </div>
        </div>
    </form>
  </body>
</html>

